@model  PlanExam.Models.Plan
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Рецензирование</title>
    @*<link href="/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <script src="/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<body>
    Прокрутка: <span id="delta">0</span>
    img: <span id="img"></span>
    <div id="container">
        <img id="pic" src="@Url.Content(string.Concat("~/Files/", @Model.Picture))" alt="Image" />
    </div>
    <script src="/Scripts/utils.js" type="text/javascript"></script>

</body>
</html>
